# Binaries and build artifacts
bin/
.tools/
/machine-controller-manager-provider-gdch
/machine-controller-manager-provider-gdc
/machine-controller

# Backups and temporary files
*.orig
*.sw[pq]
.DS_Store

# Editor and IDE paraphernalia
.idea
.vscode

# Test and vendor artifacts
vendor
/testlist
e2e/gpctest/test/*-kubeconfig
